@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

.el-header {
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.el-header .title {
  font-size: 20px;
  font-weight: 500;
}
.el-header .desc {
  font-size: 12px;
}
